/* Global Styles */
body {
  margin: 0;
  font-family: 'Playfair Display', serif; /* Elegante font serif */
  background-color: #f9f8f6; /* Colore di sfondo chiaro per contrastare */
  color: #333; /* Colore del testo principale scuro per migliorare il contrasto */
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom, #f9f8f6, #fdcedf); /* Colore del banner come sfondo */
}

#home .title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #000; /* Testo titolo in nero per un contrasto forte */
}

#home .subtitle {
  font-size: 1.2rem;
  color: #333; /* Colore più scuro per il sottotitolo */
}

#home .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #fdcedf; /* Bottone rosa chiaro */
  color: #000; /* Colore del testo del bottone in nero */
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1rem; /* Aumenta leggermente la dimensione del font per l'eleganza */
  transition: all 0.3s ease;
}

#home .btn:hover {
  background-color: #f7b7e4; /* Rosa più scuro al passaggio del mouse */
  color: #000; /* Colore del testo rimane nero al passaggio del mouse */
}

/* Other Sections */
section {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #000; /* Titoli delle sezioni in nero */
  font-weight: 700; /* Aumenta il peso del font per l'eleganza */
}

.video-grid iframe {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px; /* Angoli arrotondati per un look più morbido */
}

form input, form textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fdcedf; /* Colore rosa per i bordi degli input */
  border-radius: 5px;
  background-color: #fff3f8; /* Colore di sfondo rosa chiaro per gli input */
}

form button {
  padding: 10px 20px;
  background-color: #fdcedf; /* Bottone rosa chiaro */
  color: #000; /* Testo dei bottoni in nero */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500; /* Aumenta il peso per l'eleganza */
  font-size: 1rem; /* Aumenta leggermente la dimensione del font */
}

form button:hover {
  background-color: #f7b7e4; /* Rosa più scuro al passaggio del mouse */
  color: #000; /* Colore del testo rimane nero al passaggio del mouse */
}
