// Navigation styles
.nav {
    background-color: $background-color;
    padding: 15px 0; // Adjust padding for top and bottom
    text-align: center;
    border-radius: 20px;
    display: flex; // Ensures horizontal layout
    justify-content: center; // Centers items horizontally
    gap: 20px; // Adds spacing between links

    a {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;
        font-size: 1.3rem;
        transition: color 0.3s ease;
        padding: 10px; // Adds padding inside each link

        &:hover {
            color: $secondary-color;
        }
    }
}
